body{

    background-color: #b8e994;
    
}

#imagecss{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
}

#headersection{
    padding: 5px;
}

#headersection h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    width: 12%;
    padding: 10px;
    border-radius: 5px;
}

#loginbtn{
    padding: 5px;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}